<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 btn-group">
      <select class="form-control" id="category-dropdown" name="category" aria-label="select-by-category">
        <option value="">請選擇類別</option>
        {{#each categoryList}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <h5 class="m-0">總金額：</h5>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <h1 style="text-align:center">{{totalAmount}}</h1>
    </div>
  </div>

  {{#each expenses}}
  <div class="row mt-3">
    <div class="col-3"></div>
    <div class="col-1 d-flex" style="align-items:center">
      <i class="{{this.categoryId.icon}} fa-2x"></i>
    </div>
    <div class="col-4">
      <h5 class="m-0">{{this.name}}</h5>
      <p class="m-0 date">{{this.date}}</p>
    </div>
    <div class="col-1 d-flex" style="align-items:center; justify-content:end">
      <h5 class="m-0">{{this.amount}}</h5>
    </div>
    <div class="col-1 d-flex" style="align-items:center; justify-content:end">
      <a href="/expenses/{{this._id}}/edit" type="button" class="btn btn-outline-primary">修改</a>
    </div>
    <form action="/expenses/{{ this._id }}?_method=DELETE" method="POST" class="col d-flex" style="align-items:center">
      <button type="submit" class="btn btn-outline-danger">刪除</button>
    </form>
  </div>
  {{/each}}

  <div class="row justify-content-center mt-5">
    <a href="/expenses/new" type="button" class="btn btn-outline-success col-2">新增支出</a>
  </div>

</div>